a {
    border: 1px solid;
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
  }
  
  a:focus {
    outline: 4px dotted #e73;
    outline-offset: 4px;
    background: #ffa;
  }
#box{  
    background-color: #eee;  
    outline: 3px solid red;
    outline-offset: 5px;
    border: 3px solid lightgreen;  
    padding: 5px 10px;  
}    