body{
    font-family: Arial, Helvetica, sans-serif;
}
.single{
    height: 100px;
    width: 100px;
    line-height: 35px;
    background-color: aqua;
    text-align: center;
    margin-left: 25px;
    transition: width 1s;
    transition-delay: 1s;
}
.multi{
    height: 100px;
    width: 100px;
    line-height: 35px;
    background-color: aqua;
    text-align: center;
    margin-left: 25px;
    transition: background 1s,transform 1s;
    transition-delay: 1s;
}
.shorthand{
    height: 100px;
    width: 100px;
    line-height: 35px;
    background-color: aqua;
    text-align: center;
    margin-left: 25px;
    transition: width 2s,height 2s,background 2s,transform 2s;
}
/* single transition*/
.single:hover{
    width: 250px;
}
/* multiple transition */
.multi:hover{
    background-color: yellow;
    transform: rotate(360deg);
}
/* shorthand */

.shorthand:hover{
    background-color:hotpink;
    width: 150px;
    height: 150px;
    transform: rotate(180deg);
    transition-delay: 2s;
}





