body{
    font-family: Arial, Helvetica, sans-serif;
}
.translate{
    height: 100px;
    width: 100px;
    line-height: 35px;
    background-color: aqua;
    text-align: center;
    margin-left: 25px;
}
/* CSS3 2D Transform: translateX() */
.translatex:hover{
    transform: translateX(200px);
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
}
/* CSS3 2D Transform: translatey() */
.translatey:hover{
    transform: translateY(65px);
    -webkit-transform: translateY(65px);
    -ms-transform: translateY(65px);
}
/* CSS3 2D Transform: translatexy() */
.translatexy:hover{
    transform: translate(100px, 80px);
    -webkit-transform: translate(100px, 80px);
    -ms-transform: translate(100px, 80px);
}





