body{
    font-family: Arial, Helvetica, sans-serif;
}
.scale{
    height: 100px;
    width: 100px;
    line-height: 35px;
    background-color: aqua;
    text-align: center;
    margin-left: 25px;
}
/* CSS3 2D Transform: scalex*/
.scale1:hover{
    transform:scaleX(1.8);
}
/* CSS3 2D Transform: scaley */
.scale2:hover{
    transform:scaleY(1.5);
}
/* CSS3 2D Transform: scale */

.scale3:hover{
    transform: scale(1.5);
}





