body{
    margin: o;
    background-color: blanchedalmond;
}
.wrapper{
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:25px;
    justify-self: center;
    align-self: center;
}
.wrapper>div{
    background-color: aqua;
    padding: 80px;
    text-align: center;
    line-height: 25px;
}
.tooltip p{
    font-size: large;
    font-weight: bold;
    color: cornflowerblue;
}
.tooltip a{
    font-size: larger;
    color: #777;
}
.link{
    position: relative;
}
.t-testt{
    width: 130px;
    padding: 5px;
    position: absolute;
    top: -63px;
    left: 0px;
    visibility: hidden;
    background-color: mediumvioletred;
    color: #fff;
    border-radius: 7px;
    line-height: 15px;
    z-index: 2;
}

.t-testl{
    width: 130px;
    padding: 5px;
    position: absolute;
    left: -138px;
    top: -15px;
    visibility: hidden;
    background-color:blueviolet;
    color: #fff;
    border-radius: 7px;
    line-height: 15px;
    z-index: 2;
}
.t-testr{
    width: 130px;
    padding: 5px;
    position: absolute;
    top: -15px;
    visibility: hidden;
    background-color: red;
    color: #fff;
    border-radius: 7px;
    line-height: 15px;
    z-index: 2;
}
.t-testb{
    width: 130px;
    padding: 5px;
    position: absolute;
    top: 20px;
    left: 0px;
    visibility: hidden;
    background-color: seagreen;
    color: #fff;
    border-radius: 7px;
    line-height: 15px;
}
.link:hover .t-testt{
    visibility: visible;
}
.link:hover .t-testr{
    visibility: visible;
}
.link:hover .t-testl{
    visibility: visible;
}
.link:hover .t-testb{
    visibility: visible;
}
